/*---------------------*/
/*    HTML ELEMENTS    */
@font-face {
  font-family: MangaBoldItalic;
  src: url(../fonts/MangaBoldItalic.otf);
}

@font-face {
  font-family: MangaHollowItalic;
  src: url(../fonts/MangaHollowItalic.otf);
}

body{
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
}

input[type="radio"], input[type="number"], input[type="submit"]{
  display: block;
}

input[type="submit"]{
  margin-left: 35%;
  margin-top: -30%;
}

footer{
    background: url(../images/backgroundfooter.jpg);
    bottom: 0;
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 1%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    text-align: center;
    position: fixed;
    width: 100%;
}

form{
  background: url(../images/background.png);
  background-position-x: 80%;
  background-position-y: 40%;
  background-repeat: no-repeat;
  float: left;
  height: 300px;
  margin-left: 200px;
  padding: 250px;
}

h1{
  font-family: MangaBoldItalic;
  font-size: 8rem;
  text-align: center;
}
h2{
  font-family: MangaHollowItalic;
  font-size: 5rem;
  margin-bottom: 10px;
  margin-right: 100px;
  width: 150px;
}

h3{
  font-size: 1.2rem;
}

img{
  height: 250px;
  margin-right: 10px;
  visibility: visible;
  width: 250px;
}

input[type="radio"]{
  display: inline;
}
input[type="number"], input[type="submit"]{
border-radius: 5px;
}

main{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

p{
  margin-bottom: 15px;
}
/*---------------------*/

/*---------------------*/
/*  REUSABLE CLASSES   */
.custom{
  margin-bottom: 10px;
  margin-left: 25px;
  visibility: hidden;
}

.difficulty{
  color: #FFFFFF;
  margin-bottom: 10px;
  width: 80px;
}

.preview{
  float: left;
}

.info{
  font-size: 1.5rem;
  float: right;
  width: 400px;
}
/*---------------------*/

/*---------------------*/
/* CONTAINING ELEMENTS */
form > h2{
  color: #FFFFFF;
}
/*---------------------*/

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
